@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply font-sans;
        font-size: 18px;
    }

    body {
        @apply m-4;
        @apply md:m-8;
        @apply mb-24;
        @apply bg-zinc-200;
    }

    p {
        @apply text-justify;
    }
    
    h1 {
        @apply flex;
        @apply flex-wrap;
        @apply font-light;
        @apply text-base;
    }

    h2 {
        @apply flex;
        @apply flex-wrap;
        @apply font-light;
        @apply text-sm;
    }

    h3 {
        @apply text-sm;
    }

    caption {
        @apply text-sm;
        @apply text-left;
    }

    table {
        @apply overflow-hidden;
        @apply bg-zinc-50;
        @apply rounded;
        @apply drop-shadow;
    }

    tr:nth-child(even) {
        @apply border-y-2;
        @apply border-zinc-300;
        @apply bg-zinc-100;
    }

    tr:has(+ .selected-tr) {
        @apply bg-black;
    }

    .selected-tr {
        @apply bg-yellow-100;
    }

    th {
        @apply font-normal;
        @apply text-sm;
        @apply text-left;
        @apply bg-zinc-800;
        @apply text-zinc-50;
        @apply font-light;
        @apply px-4 py-2;
    }

    td {
        @apply p-4;
    }

    button {
        @apply border-2;
        @apply border-zinc-900;
        @apply bg-zinc-300;
        @apply px-4;
        @apply py-1;
        @apply rounded;
    }

    button:hover {
        @apply bg-zinc-100;
    }

    form {
        @apply flex;
        @apply flex-col;
        @apply gap-4;
        @apply p-4;
        @apply -mt-4;
        @apply bg-zinc-100;
        @apply border-2;
        @apply border-t-0;
        @apply rounded-b;
        @apply border-zinc-900;
        @apply drop-shadow-lg;
    }

    label {
        @apply text-sm;
    }

    input {
        @apply border-2;
        @apply border-zinc-900;
        @apply px-1;
        @apply rounded;
    }

    input[type='checkbox'] {
        @apply ms-1;
    }

    select {
        @apply px-2;
        @apply py-1;
    }

    a {
        @apply underline;
        @apply text-zinc-900;
    }

    a:hover {
        @apply text-zinc-500;
    }

    .selected-nav-link {
        @apply font-bold;
    }

    .centred-absolute {
        @apply absolute;
        @apply top-[50%];
        @apply left-[50%];
        @apply transform -translate-x-[50%] -translate-y-[50%];
        @aply transform-gpu;
    }
}